.header-doc {
  font-size: 0.8rem;
  background-color: $white;
  position: sticky;
  top: 0;
  box-shadow: 0 0 120px 0 rgba($black, 0.1);
  z-index: 10;

  .document-title {
    font-weight: 400;
    margin: 0;
    line-height: 1;

    .document-title__icon {
      margin-right: 0.625rem;
    }
  }

  .it-icon {
    font-size: 1.5rem;
    float: left;
  }

  .document-search {
    input {
      border: 1px $grey solid;
      border-radius: 0.1rem;
      font-size: 0.8rem;
      font-weight: 100;
    }

    &::placeholder {
      color: $grey;
    }

    .input-group-append {
      position: absolute;
      right: 0.25rem;
      top: 0.5rem;
      z-index: 4;

      button {
        background: none;
        border: none;
      }
    }
  }

  .versions-list {
    .dropdown-toggle {
      border-radius: 2rem;
      padding: 0.3rem 0.8rem;
      font-size: 0.8rem;
      font-weight: 400;

      &.btn-dropdown::after {
        content: unicode($it-icon-collapse);
        font-size: 0.8rem;
        /* stylelint-disable font-family-no-missing-generic-family-keyword */
        font-family: 'docs-italia' !important;
        /* stylelint-enable */
        vertical-align: bottom;
      }
    }
  }

  .progress-container {
    width: 100%;
    height: 0.25rem;
    background: $light-blue;
  }

  .progress-bar {
    height: 0.25rem;
    background: $medium-blue;
    width: 0%;
  }
}
