<div class="header__slim row primary-bg-a9 text-white">Slim header</div>
<div class="header__main row p-4 align-items-center flex-nowrap primary-bg">
  <a class="mr-4" href="{{ site.docs_italia_home }}">
    <img class="site-logo" src="{{ pathto(site.logo, 1) }}" alt="{{ t.site_title }}">
  </a>
  <a class="site-title white-color" href="{{ site.docs_italia_home }}">
    <span class="site-title__main-title">{{ t.site_title }}</span>
    <span class="site-title__subtitle">{{ t.site_subtitle }}</span>
  </a>
</div>
