<form action="{{ pathto('search') }}" method="get">
  <div class="document-search input-group" role="search">
    <input type="hidden" name="check_keywords" value="yes">
    <input type="hidden" name="area" value="default">
    <input type="search" class="p-2 text-grey form-control" required name="q" placeholder="{{ t.search_form_label }}...">
    <span class="input-group-append">
      <button type="submit">
        <span class="it-icon-search text-primary">
          <span class="sr-only">{{ t.search_form_label }}</span>
        </span>
      </button>
    </span>
  </div>
</form>
