<div class="dropdown versions-list">
  <a class="btn btn-dropdown dropdown-toggle bg-primary text-white" href="#" role="button" id="versionsList" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{ t.version }} 1
  </a>
  <div class="dropdown-menu" aria-labelledby="versionsList">
    <div class="link-list-wrapper">
      <ul class="link-list">
        <li><a class="list-item" href="#"><span>{{ t.version }} 1</span></a></li>
        <li><a class="list-item" href="#"><span>{{ t.version }} 2</span></a></li>
        <li><a class="list-item" href="#"><span>{{ t.version }} 3</span></a></li>
      </ul>
    </div>
  </div>
</div>
